# endpoints
MAINNET_RPC_URL=http://localhost:8545
GNOSIS_RPC_URL=http://localhost:8546
HOODI_RPC_URL=http://localhost:8547
CHIADO_RPC_URL=http://localhost:8548

# verification
ETHERSCAN_API_KEY=123
GNOSISSCAN_API_KEY=456

# test settings
# Use this to run tests with a forked vault contracts
TEST_USE_FORK_VAULTS=false
# Skip snapshots update in tests
TEST_SKIP_SNAPSHOTS=false

# deployment
PRIVATE_KEY=0x12345
# Add transactions to remove vault factories in current deployment files
REMOVE_PREV_FACTORIES=false

# contract variables
# chiado
#GNO_TOKEN=0x19C653Da7c37c66208fbfbE8908A5051B57b4C70

# gnosis
#GNO_TOKEN=0x9C58BAcC331c9aa871AFD802DB6379a98e80CEdb