*.swp
*.swo

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Local env variables
.env

# Hardhat
cache
artifacts

# Typechain
/typechain-types

# macOS
.DS_Store

# IntelliJ IDE
.idea

# VS Code
.vscode
